/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of css reset  */

body {
  font-size: 2.1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #f7f4f3;
}
h2 {
  font-size: 20px !important;
  letter-spacing: -0.005em;
  line-height: 1.1em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  color: #f7f4f3;
  padding: 20px;
}
h3 {
  color: #f7f4f3;
  text-align: start;
  font-size: 10px !important;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  padding: 20px;
}
h4 {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  color: #f7f4f3;
  text-transform: capitalize;
  line-height: 1.5rem;
  font-weight: 500;
}
p {
  font-size: 16px;
  line-height: 1.4rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  color: #7c7c7c;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
}

/* introduction  */
.introduction {
  height: 100vh;
  display: flex;
  align-items: center;
}
#image-title {
  z-index: 2;
  position: absolute;
  margin-right: 200px;
  margin-top: 300px;
  padding-bottom: 10px;
  font-size: 14px !important;
  border-bottom: solid 1px #f7f4f3;
}
#landing-title {
  font-size: 36px !important;
  line-height: 1em;
  font-weight: 200;
  color: #f7f4f3;
}

/* Navigation Bar  */
.menu-title {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  color: #7c7c7c;
  margin-bottom: 20px;
}
.btn:focus {
  box-shadow: none;
}
.menu {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.menu-icon {
  margin-right: 15px;
}
.menu-social-icons {
  font-size: 14px;
}
.nav-link {
  color: #7c7c7c !important;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
}
.nav-link:hover {
  color: #ff8a05 !important;
}
i:hover {
  color: #ff8a05 !important;
}
.scroll-content {
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
  height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}

/* Main Container  */
.main-container {
  background-color: #060607;
}
section {
  margin-right: 150px;
  margin-bottom: 50px;
}
.section-underline {
  border-bottom: solid 1px #f7f4f3;
}

/* Main Image  */
.image-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
  transform: perspective(200px) rotateY(5deg);
}
.main-image {
  height: 400px;
}
.image-frame {
}
#frame-1 {
  border: solid 1px #f7f4f3;
  transform: translate(-1rem, 0.4rem);
  z-index: -1;
  position: absolute;
  height: 400px;
  width: 300px;
  opacity: 0.25;
}
#frame-2 {
  border: solid 1px #f7f4f3;
  transform: translate(-1.4rem, 0.8rem);
  z-index: -1;
  position: absolute;
  height: 400px;
  width: 300px;
  opacity: 0.15;
}
#frame-3 {
  border: solid 1px #f7f4f3;
  transform: translate(-1.8rem, 1.2rem);
  z-index: -1;
  position: absolute;
  height: 400px;
  width: 300px;
  opacity: 0.05;
}

/* Achievements */
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.achievement {
  transition: --num 1s;
  counter-set: num var(--num);
  font: 800 26px system-ui;
  width: fit-content;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.achievement::after {
  content: counter(num);
}
/* .achievement:hover {
  --num: 100;
} */
#awards:hover {
  --num: 3;
}
#projects:hover {
  --num: 5;
}
#apps:hover {
  --num: 4;
}
.achievements-content {
  display: flex;
  justify-content: space-around;
}

/* Services */
.accordion-item {
  background-color: transparent;
}
.accordion-button {
  background-color: transparent;
  border-bottom: solid;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #f7f4f3;
  box-shadow: none;
  border-bottom: solid 0.1px;
}
.accordion-button:not(.collapsed)::after {
  background-image: none;
}

/* Resume */

/* Portfolio/ */
.modal-body {
  background-color: transparent;
}
.portfolio-image {
  width: 100%;
  height: auto;
  padding-left: 20px;
}

/* Testimonials */
.testimonial-image {
  object-fit: cover;
  margin-bottom: 20px;
}
#testimonial-carousel {
  margin-top: 50px;
}
.carousel-caption p {
  font-style: italic;
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #f7f4f3;
}
.carousel-indicators [data-bs-target] {
  width: 6px;
  height: 6px;
}
.progress-bar {
  height: 1px;
  margin-left: 20px;
  background-color: #f7f4f3;
}
.progress-bar-label {
  margin-left: 20px;
  width: fit-content;
}

/* Contact */
.form-control {
  border: none;
  border-bottom: solid 0.1px #f7f4f3 !important;
  background-color: transparent;
  text-transform: capitalize;
}
[type="submit"]:not(:disabled) {
  background-color: transparent;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  color: #f7f4f3;
  font-size: 16px;
}
.form-label:hover {
  color: #ff8a05 !important;
}
